[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
django-cors-headers = "*"
pillow = "*"
stripe = "*"
mysqlclient = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
drf-nested-routers = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"

[dev-packages]

[requires]
python_version = "3.11"
