# python
*__pycache__
Pipfile.lock

*.pyc
/nabshopdjango/media/
/nabshopdjango/static/
general.log

.DS_Store
node_modules
/dist
/pycache

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

credentials
TrashTemplateForCatalogue.vue
*2.vue

#
initial_tables.sql
initial_tables1.sql
nabshop_db.sql
/old_settings
/media
